node_modules
npm-debug.log
vendor
.git
.gitignore
.env
.env.*
!.env.example
docker-compose.yml
Dockerfile
.dockerignore
.docker/
*.md
.editorconfig
nixpacks.toml
.github/
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
public/hot
